<!doctype html>

{% load staticfiles %}
{% load homepage_tag %}
{% load cache %}
<html>
<head>

<title>公众号信息聚合</title>

<meta charset="UTF-8">
<meta name="keywords" content="公众号信息聚合" />
<meta name="description" content="公众号信息聚合" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'homepage/css/base.css' %}" rel="stylesheet">
<link href="{% static 'homepage/css/index.css' %}" rel="stylesheet">
<link href="{% static 'homepage/css/m.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/htmleaf-demo.css' %}"><!--演示页面样式，使用时可以不引用-->
<link rel="stylesheet" href="{% static 'homepage/css/main.css' %}">
<!--[if lt IE 9]>
<script src="{% static 'homepage/js/modernizr.js' %}"></script>
<![endif]-->
<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
</head>
<body>
<header>
  <div class="tophead">
    <div class="logo"><a href="/">推送与更新</a></div>
    <div id="mnav">
      <h2><span class="navicon"></span></h2>
      <ul>
        <li><a href="{% url  "test" %}">网站首页</a></li>
{#        <li><a href="about.html">类别</a></li>#}
        <li><a href="share.html">关于我</a></li>

      </ul>
    </div>
    <nav class="topnav" id="topnav">
      <ul>
        <li><a href="{% url  "test" %}">网站首页</a></li>
{#        <li><a href="about.html">类别</a></li>#}
        <li><a href="share.html">关于我</a></li>
      </ul>
    </nav>
  </div>
</header>
<article>
{#  <h1 class="t_nav"><span>大自然的搬运工。 </span><a href="/" class="n1">网站首页</a><a href="/" class="n2">推送列表</a></h1>#}
  <div class="blogs">
    <div class="mt20"></div>
      {% for post in contacts %}
          <li> <span class="blogpic"><a href="{{ post.get_absolute_url }}"><img src="/static/homepage/images/contentImg/{{ post.img_url }}"></a></span>
              <h3 class="blogtitle"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3><br/>
              <div class="bloginfo">
              <p>{{ post.describe }}</p>
              </div>
              <div class="autor"><span class="dtime">{{ post.publish_time }}</span><span class="viewnum">{{ post.come_from }}</span><span class="readmore"><a href="{{ post.get_absolute_url }}">阅读原文</a></span></div>
          </li>
      {% empty %}
      <div class="no-post">暂时还没有发布的文章！</div>
      {% endfor %}


{#    <div class="pagelist"><a title="Total record">&nbsp;<b>45</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/download/index_2.html">2</a>&nbsp;<a href="/download/index_2.html">下一页</a>&nbsp;<a href="/download/index_2.html">尾页</a></div>#}
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a  style="color: #FFFFFF" href="?page={{ contacts.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current" style="color: #FFFFFF">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}
        </span>

        {% if contacts.has_next %}
            <a style="color: #FFFFFF" href="?page={{ contacts.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>

  </div>
{% cache 600 sidebar %}
  <div class="sidebar" style="margin-top: 20px">
{#       <div class="search">#}
{#      <form action="search/" method="post" name="searchform" id="searchform">{% csrf_token %}#}
{#        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">#}
{#        <input name="show" value="title" type="hidden">#}
{#        <input name="tempid" value="1" type="hidden">#}
{#        <input name="tbname" value="news" type="hidden">#}
{#        <input name="Submit" class="input_submit" value="搜索" type="submit">#}
{#      </form>#}
{#    </div>#}



    <div class="lmnav">
     {% get_share as share_sort_list %}
      <h2 class="hometitle">栏目导航</h2>
      <ul class="navbor">
        <li><a href="#">分享</a></li>
           {% for  share_sort  in share_sort_list %}

        <li><a href="{{ share_sort.get_sort_url }}">{{ share_sort.sort }}</a>

          <ul>

                 {% for  share  in share_sort.get_post %}
            <li><a href="{{ share.get_absolute_url }}">{{ share.title }}</a></li>


                {% empty %}
                <div class="no-post">暂时还没有分享！</div>
                {% endfor %}
          </ul>
        </li>
              {% empty %}
             <div class="no-post">暂时还没有分享！</div>
              {% endfor %}

      </ul>
    </div>
     <div class="search">

     <form action="{% url 'search' %}" method="post" name="searchform" id="searchform">{% csrf_token %}
                            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
                            <input name="show" value="title" type="hidden">
                            <input name="tempid" value="1" type="hidden">
                            <input name="tbname" value="news" type="hidden">
                            <input name="Submit" class="input_submit" value="搜索" type="submit">
       </form>
    </div>
     <div class="paihang">
      <h2 class="hometitle">推荐</h2>
        {% get_recommen as recommen_list %}

      <ul>
           {% for recommen in recommen_list %}
        <li><b><a href="{{recommen.get_absolute_url  }}" target="_blank">{{ recommen.title }}</a></b>
          <p><i><img src="/static/homepage/images/contentImg/{{ recommen.img_url }}"></i>{{ recommen.describe }}</p>
        </li>
          {% empty %}
      <div class="no-post">暂时还没有文章！</div>
      {% endfor %}
      </ul>
    </div>
   <div class="cloud">
      <h2 class="hometitle">标签云</h2>
        {% get_sort as sort_list %}

     <ul>

            {% for sort in sort_list %}
                <a href="{{ sort.get_sort_url}}">{{ sort.sort }}</a>
            {% empty %}
              <div class="no-post">暂时还没有标签！</div>
            {% endfor %}
      </ul>
    </div>


  </div>
{% endcache %}
</article>
<footer>
   <p>Create by <a href="/">xuzhaolong</a> <a href="/"></a></p>
</footer>

</body>
</html>
